
*{
    margin: 0;
    padding: 0;
}

header{
    background-color:#acfba4;
    background-image: url("../multimedia/banner2.2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    
    ;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: honeydew;

}
.titulo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;

}



.subtituloColoryPosicion{
    color:#54595F;
    text-align: center;
}



/* para sacarle linea al link*/
 a{
   text-decoration: none; 
}


/*propiedades del nav / agregando flexbox al nav*/
nav ul {
    background-color: #8d8d8dc2;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    list-style-type: none;
     align-items: center;
     height: 100px;
     width: 100%;
     align-items: center;
     flex-wrap: nowrap;
  

 }  



nav li {
    display: inline-block;
    color : black;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    flex-basis:100%;
   
   
    
}



/*color que le quiero dar a los links*/

a:link{
    color: black;
    font-size: 17px;
}
a:visited{
    color: black;
}

a:hover{
    color: rgb(247, 240, 240);
  
}





/* propiedades de la seccion video index*//*propiedades seccion texto index*/



//tamaño imagenes inicio    sigo sin poder hacer que hagan zoom D: 


.imgIndex{
width:  100%;
height: auto;

}

.flexIndex{
    display:flex ;
    justify-content:center ;
    align-items: center;
    

}


.section{
 text-align: center;
}


.box{
    padding: 20px;
    margin: 15px;
    height: auto;
    border: 8px solid #678f63;
}

/* transformacion/trnsicion a imagen index,. tiene que volverse un carrusel de imagenes*/


/* este aumentaba el tamaño de las imagenes cuando lo tocabas, se puede usar para otras asi que guardar
.imagenIndex{
    height: auto;
    width: 50%;
    transition:3s ;
    ;
    }
.imagenIndex:hover{
        height: auto;
        width: 70%;
       
    }
    */
/*---------------------------------*/



footer{
    position: sticky;
    background-color:#acfba4 ;
width: 100%;
height: 60px;
text-align: center;
display: flex;
justify-content: space-evenly;

}







/*pagina CONTACTOS*/




/*formulario*/


.formulario{
  width: 500px;

  /*tengo que ponerlo a un costado, todo eso cuando lo organice on grids*/

}

//coolores hover de pag nosotros,links redes sociales


.linkRedes{    
    
a:link{
    color: black;
    font-size: 17px;
}
a:visited{
    color: black;
}

a:hover{
    color: rgb(50, 153, 64);
  
}

}





/*Pagina NOSOTROS*/




/*pagina TIENDA*/

/*grid para tienda*/


.conteTienda {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 7px;
    grid-template-areas:
      ". . ."
      ". . .";
  
  }

  
  .imgTienda{
      width: 90%;
      height: 450px;
      padding: 15px;
  }






/*pagina galeria*/


.fotoCont {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px 7px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
   
    
     
  }
  

.imgGaleria{
    width: 400px;
    height: 450px;
   padding: 20px;
}











//MEDIA QUERIES PARA LAS PAGINAS AL FIN!!!!





/*MOVIL*/
/*media query max 600px movil*/

@media only screen and (max-width: 600px){ 

    
     /* tamaño nav mq movil*/
    nav ul {
        list-style-type: none;
        background-color: gray;
        display: flex;
        flex-direction: column;
        height: 300px;

        
    }
    
    //index posicion cosas .. me falta arreglar el tamaño del carrousel en tamaño movil 

    .boxIndex{
        padding: 20%;
    }

    .videoSize{
        width: 300px;
        height:300px;
    }

    //tamaño de imagenes del index
    .ImgSize{
        width: 100px;
        height: 100px;
    }



    //galeria movil tamaño

    .galeriaMovil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
        "."
        ".";
        padding: 5%;
    }

    


    // galeria tienda movil tamaño

    .galeTiendaMovil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
        "."
        ".";
    }
   .imgGaleMovil{
       width:80% ;
       height:450px ;
       padding: 15%;
       
   }

    //galeria clientes en pag nosotros
    .galeClienteMovil {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 1px 5px; 
        grid-template-areas: 
          "."
          "."
          "."; 
      }
      
      .imgCliente{
        height: 500px;
        width: 80%;
        padding: 15px;
        margin: 15px;
      }
}

/*TABLET*/
@media only screen and (min-width:600px){

    
    
    //tamaño galeria tablet... toma el tamaño de imagenes grande 
    .galeriaTablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          ". .";

      }

      //tamaño galeria de clientrs en nosotros tamaño tablet
.galeriaClienteTablet{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5px 5px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
        
    }
    
    .imgCliente{
        height: 500px;
        width: 370px;
        padding: 20px;
        margin: 20px;
    }


}



/*LAPTOP*/
@media only screen and (min-width:1200px){
    
         
 //tamaño galeria laptop
        .fotoCont {
   
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 7px 7px;
            grid-auto-flow: row;
            grid-template-areas:
              ". . ."
              ". . ."
              ". . .";
         }
         
        
         



          
        //tamaño de imagenes tamaño grande 
        .imgGaleria{
            width: 400px;
            height: 450px;
           padding: 20px;
        }
        
        //tamaño galeria clientes en pag nosotros tamaño laptop
        .galeClienteLaptop {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 1px 5px; 
            grid-template-areas: 
              ". . ."
              ". . ."
              ". . ."; 
           
          }

          
          .imgCliente{
              height: 350px;
              width: 300px;
              padding: 20px;
              margin: 20px;
          }

          

}

    

    
      


